
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href=<%= root_path %> >Temple Grounds</a></li>
  <li role="presentation"><a href= <%= new_task_path %> >Train</a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Temple Gates <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Train</a></li>
      <li><a href="#">Unfinished Tasks</a></li>
      <li><a href="#">Completed Tasks</a></li>
    </ul>
  </li>
  
</ul>


